---
import Cardproyects from "../components/Cardproyects.astro"
import Cardcolab from "../components/Cardcolab.astro"
import Layout from "../layouts/layout.astro"
---
<Layout title="kukulc4n">
	<div class="flex justify-center p-5">
		<h1>Colaborador:</h1>
	</div>
	<Cardcolab/>
	<div class="flex justify-center p-5">
		<h1>Proyectos:</h1>
	</div>
	<Cardproyects/>
</Layout>

