---

---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb-5">
        <a href="/" class="mb-4 text-5xl tracking-tight font-extrabold text-black">
            Kukulcan 🚀
        </a>
    </div>
    <div class="text-center py-5">
        <p class="font-light text-gray-500 sm:text-xl darkt:text-gray-400">
            Kukulcan prestador de servicios de It.
        </p>
    </div>
</header>